.arrow-container {
    opacity: 0;
    animation-delay: 1000ms;
    animation: fade-down 800ms ease-out forwards;

    .arrow {
        animation-delay: 2000ms;
        animation: bob 5s ease-in-out infinite;
        border-right: solid 2px black;
        border-bottom: solid 2px black;

        @keyframes bob {
            0%, 20%, 100% {
                transform: translateY(0) rotate(45deg);
            }
            10% {
                transform: translateY(80%) rotate(45deg);
            }
        }
    }

    @keyframes fade-down {
        0% {
            transform: translateY(-150%) ;
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
