.service-hero {
    background-attachment: fixed;
    // filter: saturate(0);
    background: url('../../assets/rendering-mobile.jpg') no-repeat center center;
    
    @media (min-width: 768px) {
        background: url('../../assets/rendering.jpg') no-repeat center center;
    }
}

.service-gradient {
    background: linear-gradient(rgba(17,17,17,0.1), #111111);
}

.white-gradient { 
    background: linear-gradient(rgba(250,250,250,0), #FFFFFF);
}