.service-hero {
    background-attachment: fixed;
    filter: saturate(0);
    background: url('../../assets/rendering-mobile.jpg') no-repeat center center fixed;
    
    @media (min-width: 768px) {
        background: url('../../assets/rendering.jpg') no-repeat center center fixed;
    }
}

.service-gradient {
    background: linear-gradient(rgba(17,17,17,0.3), #111111);
}