.icon-circle {
    transition: all 300ms ease-in-out;

    &.black {

        > * {
            fill: #ffffff;
        }

        &:hover {
            background: white;

            > * {
                fill: #111;
            }
        }
    }

    > svg {
        width: 60%;
        height: 60%;
    }
}